{{!-- <a href="/logout">Log out</a> --}}
<div class="jumbotron">
  <h1 class="display-3">Hello, {{user.username}}!</h1>
  <p class="lead">Welcome to your Profile Page</p>
  <hr class="my-4">
  <p>
ID: {{user.id}}<br/>
Username: {{user.username}}<br/>
First Name: {{user.firstName }}<br/>
Last Name: {{user.lastName }}<br/>
Profession: {{user.profession}}<br/>
Biography: {{user.bio}}<br/></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/logout" role="button">Log Out</a>
  </p>
</div>